html {
  font-size: 20px;
}

/*base variables*/
:root {

	--text-s: 0.875rem;
	--text-base: 1rem;
	--text-l: 1.25rem;
	--text-xl: 1.5rem;
	--text-2xl: 2rem;
	--text-3xl: 3rem;
	--text-4xl: 5rem;
	--text-gigantic: 8rem;
	--watermark: 10rem;

	--space-xs: 0.5rem;
	--space-s: 1rem;
	--space-m: 2rem;
	--space-l: 4rem;
	--space-xl: 8rem;
	--space-2xl: 12rem;
	--space-3xl: 20rem;
}


body {
  background: rgb(230, 230, 230);
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 2;
  font-size: var(--text-base);
}

/* TOP HEADER */

header{
	padding: var(--space-s);
}

/* TOP LINE */

.top-line {
	font-size: var(--text-m);
	letter-spacing: var(--space-xs);
	font-family: Arial, Helvetica, sans-serif;
	position:sticky;
	color: black;
	background-color:#ddb1d2;
	padding:var(--space-m);
	margin-block-end: var(--space-l);
}

	.top-line p{
		display: inline-block;
		text-align:left;
		width: 30%;
	}

	.top-line time{
		display: inline-block;
		text-align:right;
		width: 50%;
	}


/* TITLE */

h1 {
  text-transform: uppercase;
  font-size: var(--text-gigantic);
  line-height: 0.82;
  font-weight: 700;
}

h1 em {
  font-style: italic;
  color:rgb(255, 60, 0) ;
}

/* NAV */

nav a {
  display: inline-block;
  padding: var(--space-xs);
  border: 0.05rem dotted black;
  color: black;
  text-decoration: none;
  font-size: var(--text-s);
}

nav a:hover {
  background: rgb(78, 167, 192);
  color: black;
}

nav li{
	display: inline-block;
	margin-inline-end: var(--space-s);
}

/*ARTICLE TITLE 'ROCK'*/

article h2 {
  font-size: var(--text-4xl);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.9em;
}

article {
  max-width: 45rem;
  margin-block: var(--space-l);
  margin-inline-start:var(--space-l) ;
  padding: var(--space-m);
}

article p {
  font-size: var(--text-base);
  line-height: 1.6;
  margin-block-end:var(--space-m);
}

article blockquote {
  margin-block:var(--space-m);
  font-family: Georgia, serif;
  font-size: var(--text-3xl);
  line-height: 0.9;
  font-style: italic;
  text-align: center;
  color: darkcyan;
}

/* RESPONSE*/

#response {
  max-width: 45rem;
  margin-block: var(--space-l);
  margin-inline-start:var(--space-3xl);
  padding: var(--space-m);
}

/* RESPONSE TITLE 'ME'*/

#response h2 {
  font-size: var(--text-4xl);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.9em;
  margin-bottom: var(--space-m);
}

#response h3 {
  max-width: 50rem;
  font-family: Georgia, serif;
  font-size: var(--text-2xl);
  line-height: 1.2;
  font-weight: 400;
  font-style: bold;
  margin-bottom: var(--space-m);
}

#response p {
  font-size: var(--text-base);
  line-height: 1.6;
  margin-block-end:var(--space-m);
}

#response blockquote {
  font-family: Georgia, serif;
  font-size: var(--text-3xl);
  line-height: 1.5;
  font-style: bold;
  text-align: center;
  color: rgb(255, 60, 0);
  margin-block: var(--space-m);
  max width: 70rem;
}

a {
  color: #ff00bb;
  text-decoration: underline;
}

em{
	font-style: italic;
}

footer{
	font-size: var(--watermark);
	color: black;
	opacity: 20%;
}
